SECRET_KEY=your-secret-key-here
DB_USER=system
DB_PASSWORD=Vanshi@Oracle1
DB_DSN=localhost:1521/XE

EMAIL_SMTP_SERVER=smtp.gmail.com
EMAIL_SMTP_PORT=587
EMAIL_SENDER=alerts@university.edu
EMAIL_PASSWORD=your-email-password
